<header class="admin__header">
    <a href="/" class="logo">
    <h1>PIZZARELA</h1>
    </a>
    <div class="toolbar">
        <div></div>

    </div>
</header>
<nav class="admin__nav">
    <ul class="menu">
        <li class="menu__item">
            <a class="menu__link" href="/">Pedidos</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="/carrusel">Carrusel</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="/productos">Productos</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">
                Salir
            </a>
        </li>
    </ul>
</nav>