<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link bg-dark "href=" /">Pendientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-white text-dark" href="/entregados">Entregados</a>
  </li>
</ul>